<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="keywords"
	content="Bootstrap, Landing page, Template, Registration, Landing">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="author" content="Grayrids">
<title>View Profile</title>
<style>
.error {
	color: red;
	font-style: italic;
}
</style>
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/line-icons.css">
<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="/assets/css/owl.theme.default.css">
<link rel="stylesheet" href="/assets/css/slicknav.min.css">
<link rel="stylesheet" href="/assets/css/animate.css">
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/responsive.css">
</head>
<body>
	<div th:insert="~{Fragments/defaultFragment :: header}"></div>
	<div class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="inner-header">
						<h3>User's Profile</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="job-detail section">
	<p>
			<a href="/home"> Home </a> | <a href="/browseUsers">
				Back to search Page to Select current Student/ Alumni </a>
		</p>
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-lg-12 col-md-12 col-xs-12">
					<div class="content-area">
						<p th:if="${notFound}" class="error">User Account not Found</p>
						<div th:if="${!notFound}">
							<h4>User Profile</h4>

							<p>
								First Name: [[${user.firstName}]] <br> Last Name:
								[[${user.lastName}]] <br> Email: [[${user.email}]] <br>
								Address: [[${user.userAddress}]] <br> Phone Number:
								[[${user.phoneNumber}]]
							</p>

							<h4>User Type:</h4>
							<p th:each="role: ${user.roles}">
								[[${role}]] <br>
							</p>

							<h4>Job History:</h4>
							<div th:switch="${user.workExperience.size()}">
								<p th:case="'0'">No Job History Found</p>
								<p th:case="*" th:each="job: ${user.workExperience}">
									Company Name: [[${job.companyName}]] <br> Position:
									[[${job.position}]] <br> Start Date: [[${job.startDate}]]
									<br> End Date: [[${job.endDate}]] <br> Currently
									Employed: [[${job.currentlyEmployed}]] <br>
								</p>
							</div>

							<h4>Skills:</h4>
							<p th:each="skill: ${user.skill}">
								[[${skill.skillName}]] <br>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div th:insert="~{Fragments/defaultFragment :: footer}"></div>
</body>
</html>